# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist
tsconfig.tsbuildinfo

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

.envrc

# Proxy packages

packages/sdk/abis
packages/sdk/channel-manager
packages/sdk/channel-manager/react
packages/sdk/channel-manager/*
packages/sdk/comments
packages/sdk/comments/react
packages/sdk/comments/*
packages/sdk/core
packages/sdk/core/*
packages/sdk/embed
packages/sdk/embed/schemas
packages/sdk/embed/*
packages/sdk/indexer
packages/sdk/indexer/*
packages/shared/components
packages/shared/helpers
packages/shared/hooks
packages/shared/schemas
packages/shared/types
packages/shared/token-list
packages/shared/resolvers
packages/shared/renderer
packages/shared/components/*
packages/shared/errors
packages/shared/hooks/*
packages/shared/services/*
packages/shared/constants

.envrc
